# Paths for redbot 
# Either use relative paths (e.g.:"./data/") or absolute paths (e.g.:"/home/<user>/redbot/data/")
PATH_TO_DATA=./data/

# Input your token here. You can get this on the discord-developer-website. 
BOT_TOKEN=input_your_token_here