
# Paste your URL with which you access the panel here. If you´re using a domain you have to paste your FQDN here, otherwise put the internal IP here. 
APP_URL=http://192.168.178.100
ADMIN_EMAIL=example@example.com