# Paths for NPM 
# Either use relative paths (e.g.:"./data/") or absolute paths (e.g.:"/home/<user>/npm/certs/")
PATH_TO_DATA=./data/
PATH_TO_CERTS=./certs/

# Secret-token for cloudlfared. You can get this in the cloudflare-dashboard!
CLOUDLFARED_TOKEN=input_your_token_here

